In [2]:
import pandas as pd
import numpy as np

# Construção da Base de Ativos até Abril 2024
Aqui está o tratamento da base de ativos, até abril de 2024, essa base não é mais usada.

In [3]:
DF_ATIVOS = pd.read_excel('https://docs.google.com/spreadsheets/d/1sdgIMgG3j4bUI671U5iADaJW18L9e55SgtFRgj1AW10/export?=download', sheet_name="Resumo Ativos")
DF_DE_PARA_OFC = pd.read_excel('https://docs.google.com/spreadsheets/d/1FXJHfBeenCm7kDq-3SpJjuuBY0nXZ2xF-6DTK2HQyaQ/export?=download', sheet_name="Unidades")

In [4]:
DF_ATIVOS_COPY = DF_ATIVOS.copy()
DF_ATIVOS_COPY = DF_ATIVOS_COPY.iloc[1:]

DF_DE_PARA_OFC_COPY = DF_DE_PARA_OFC.copy()
DF_DE_PARA_OFC_COPY = DF_DE_PARA_OFC_COPY[[
    "Chave 2024", 
    "Marca 2024", 
    "Unidade 2024"
]]

In [5]:
DF_ATIVOS_COPY["Unidade"] = DF_ATIVOS_COPY.apply(lambda row: row["Unidades"].replace(f"{row['Marca']} ", ""), axis=1)
DF_ATIVOS_COPY["Unidade"] = DF_ATIVOS_COPY["Unidade"] \
                                .str.replace("SP ", "") \
                                .str.replace("- ", "") \
                                .str.replace("MG ", "")

In [6]:
DF_ATIVOS_COPY["Ano"] = 2024
DF_ATIVOS_COPY["NO"] = "Ativos"
DF_ATIVOS_COPY["Categoria"] = "Supply"
DF_ATIVOS_COPY["Tipo Valor"] = "Capex"
DF_ATIVOS_COPY["Tipo"] = "Real"

terco = len(DF_ATIVOS_COPY) // 3
DF_ATIVOS_COPY.loc[:terco-1, "Mês"] = 1
DF_ATIVOS_COPY.loc[terco:2*terco-1, "Mês"] = 2
DF_ATIVOS_COPY.loc[2*terco:, "Mês"] = 3

DF_ATIVOS_COPY.rename(columns={
    "Orçamento Aprovado": "Valor"
}, inplace=True)

In [7]:
DF_ATIVOS_COPY["Chave 2024"] = DF_ATIVOS_COPY["Marca"] + DF_ATIVOS_COPY["Unidade"]
DF_ATIVOS_COPY.head()

,Marca,Unidades,Nº Pedidos,Pedidos Validados,Orçamento CAPEX,Orçamento Solicitado,Saldo Solicitado,% Solicitado,Valor,Saldo Aprovado,...,Desconsiderar 5,Desconsiderar 6,Unidade,Ano,NO,Categoria,Tipo Valor,Tipo,Mês,Chave 2024
1,Pensi,Pensi Alojamento,8,8,0.0,16334.0,-16334.0,0.000000,10434.0,-10434.0,...,NaN,NaN,Alojamento,2024,Ativos,Supply,Capex,Real,1.0,PensiAlojamento
2,Pensi,Pensi Cabo Frio,11,11,1086.0,20070.0,-18984.0,18.480663,2204.0,-1118.0,...,NaN,NaN,Cabo Frio,2024,Ativos,Supply,Capex,Real,1.0,PensiCabo Frio
3,Pensi,Pensi Campos,29,29,0.0,187691.0,-187691.0,0.000000,0.0,0.0,...,NaN,NaN,Campos,2024,Ativos,Supply,Capex,Real,1.0,PensiCampos
4,Pensi,Pensi Casulo,11,11,1086.0,28336.0,-27250.0,26.092081,5553.0,-4467.0,...,NaN,NaN,Casulo,2024,Ativos,Supply,Capex,Real,1.0,PensiCasulo
5,Pensi,Pensi Copacabana,37,37,83227.0,68954.7,14272.3,0.828514,68954.7,14272.3,...,NaN,NaN,Copacabana,2024,Ativos,Supply,Capex,Real,1.0,PensiCopacabana

In [8]:
DF_ATIVOS_DE_PARA = pd.merge(DF_ATIVOS_COPY, DF_DE_PARA_OFC_COPY, on="Chave 2024", how="left")

In [9]:
DF_ATIVOS_DE_PARA = DF_ATIVOS_DE_PARA[[
    "Valor",
    "Marca 2024",
    "Unidade 2024",
    "Ano",
    "NO",
    "Categoria",
    "Tipo Valor",
    "Tipo",
    "Mês",
]]

In [12]:
DF_ATIVOS_DE_PARA.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 174 entries, 0 to 173
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Valor         174 non-null    float64
 1   Marca 2024    165 non-null    object
 2   Unidade 2024  165 non-null    object
 3   Ano           174 non-null    int64
 4   NO            174 non-null    object
 5   Categoria     174 non-null    object
 6   Tipo Valor    174 non-null    object
 7   Tipo          174 non-null    object
 8   Mês           174 non-null    float64
dtypes: float64(2), int64(1), object(6)
memory usage: 12.4+ KB

In [11]:
DF_ATIVOS_DE_PARA.to_excel("Ativos até Abril.xlsx", index=False)