In [11]:
import pandas as pd
import numpy as np

In [14]:
NO_atualizado = pd.read_excel(
    "https://docs.google.com/spreadsheets/d/1FXJHfBeenCm7kDq-3SpJjuuBY0nXZ2xF-6DTK2HQyaQ/export?=download",
    sheet_name="NO",
    usecols=[
        "NO",
        "NO Ajuste",
        "Categoria",
        "Tipo Valor",
    ]
)
unidade_atualizada = pd.read_excel(
    "https://docs.google.com/spreadsheets/d/1FXJHfBeenCm7kDq-3SpJjuuBY0nXZ2xF-6DTK2HQyaQ/export?=download",
    sheet_name="Unidades",
    usecols=[
        "Chave 2024",
        "Núcleo 2024",
        "Marca 2024",
        "Unidade 2024",
        "Regional",
    ]
)
coligada_atualizada = pd.read_excel(
    "https://docs.google.com/spreadsheets/d/1FXJHfBeenCm7kDq-3SpJjuuBY0nXZ2xF-6DTK2HQyaQ/export?=download",
    sheet_name="Coligadas",
    usecols=[
        "Filial",
        "Marca",
        "Unidade",
    ]
)

def ajuste_NO(df_antigo):
    df = df_antigo.copy()
    df_merge = pd.merge(df, NO_atualizado, on="NO", how="left")
    df_merge = df_merge.drop_duplicates()
    return df_merge

def ajuste_nucleo(df_antigo):
    df = df_antigo.copy()
    df["Chave 2024"] = df["Marca"] + df["Unidade"]
    df_merge = pd.merge(df, unidade_atualizada, on="Chave 2024", how="left")
    df_merge = df_merge.drop_duplicates()
    return df_merge

def ajuste_coligada(df_antigo):
    df = df_antigo.copy()
    df_merge = pd.merge(df, coligada_atualizada, on="Filial", how="left")
    df_merge = df_merge.drop_duplicates()
    return df_merge

In [13]:
REALIZADO_2024 = pd.read_excel(
    "https://docs.google.com/spreadsheets/d/1rFuIVjNT6eo5wUr2nL7Y0uvM6r9eXgcaZPrA8Y91OsI/export?=download",
    sheet_name="Consolidado Central",
    usecols=[
        "Contrato",
        "Marca",
        "Unidade",
        "Valor",
        "NO",
        "Mês",
        "Nº FLUIG",
    ]
)

REALIZADO_N_CONTROLADO = REALIZADO_2024.loc[(REALIZADO_2024["Marca"].isna()) & (REALIZADO_2024["Valor"] > 0)]

REALIZADO_2024 = REALIZADO_2024[REALIZADO_2024["Marca"].notna()]
REALIZADO_2024.loc[REALIZADO_2024["Marca"].str.startswith("Elite"), "Marca"] = "Elite"
REALIZADO_2024["Valor"] = REALIZADO_2024["Valor"].fillna(0.0)
REALIZADO_2024 = REALIZADO_2024.loc[REALIZADO_2024["Valor"] != 0]

,Nº FLUIG,Contrato,Valor,Marca,Unidade,NO,Mês
3599,934158.0,CS1078,9600.0,NaN,NaN,NaN,2.0
4289,0.0,CS2536,600.0,NaN,Pato Branco 2,Assist. Médica de Alunos,NaN
4290,980734.0,CS2537,450.0,NaN,Toledo,Gás,4.0
4291,980798.0,CS2538,250.0,NaN,Pato Branco 2,Assist. Médica de Alunos,4.0
4828,1027345.0,CS3975,5100.0,NaN,NaN,Obra de Manutenção,7.0
6189,937690.0,CS1227,150.0,NaN,NaN,NaN,2.0
6253,942340.0,CS1374,5389.0,NaN,NaN,NaN,2.0
7062,990182.0,CS2677,900.0,NaN,NaN,NaN,4.0

Empty DataFrame
Columns: [Nº FLUIG, Contrato, Valor, Marca, Unidade, NO, Mês]
Index: []